<div id="booking-container">

  <h1 id="booking-title">Create a New Booking</h1>

  <div id="booking-card">
    <div id="boat-info">
      <%= image_tag @boat.image_url, id:"boat-image" %>
      <h2 id="boat-name"><%= @boat.name %></h2>
      <p id="boat-description"><%= @boat.details %></p>
    </div>

    <div id="form-section">
      <%= simple_form_for([@boat, @booking]) do |f| %>
        <%= f.input :booking_date,
                  as: :string,
                  label: "Dates",
                  input_html: { id: "Dates", data: { controller: "datepicker" } } %>
        <%= f.input :message,
            as: :text,
            label: "Your Message (optional):",
            input_html: { rows: "5" } %>
        <%= f.button :submit, "Create Booking", id: "submit-button" %>
      <% end %>
    </div>
  </div>
</div>
