<div class="container">
  <h1>Create a New Booking</h1>
  <%= simple_form_for([@boat, @booking]) do |f| %>
    <%= f.association :boat, input_html: { value: @boat.id }, label: "Boat", include_blank: false, disabled: true %>
    <%= f.association :user, label: "User", include_blank: false %>
    <%# <%= f.input :start_date, as: :datetime, label: "Start Date" %>
    <%# <%= f.input :end_date, as: :datetime, label: "End Date" %>
    <%# <%= f.input :total_price, label: "Total Price", input_html: { readonly: true } %>
    <%= f.button :submit, "Create Booking", class: "btn btn-primary" %>
  <% end %>
</div>
