<h1>Welcome <%= current_user.first_name %></h1>
<h2>Your bookings</h2>


<div class="boats-container">
    <% current_user.bookings.each do |booking| %>
      <%= link_to boat_path(booking.boat), class: 'boat-card-link' do %>
        <div class="boat-card">
          <%= image_tag booking.boat.image_url, alt: booking.boat.name, class: 'boat-image' %>
          <div class="boat-info">
            <h2 class="boat-name"><%= booking.boat.name %></h2>
            <p class="boat-type"><%= booking.boat.boat_type %></p>
            <p class="boat-details"><%= booking.boat.details %></p>
            <p class="boat-address"><%= booking.boat.address %></p>
            <div class="price-section">
              <p class="boat-price">£<%= booking.boat.price %>/hour</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="boats-container">
    <% current_user.boats.each do |boat| %>
      <%= link_to boat_path(boat), class: 'boat-card-link' do %>
        <div class="boat boat-card">
          <%= image_tag boat.image_url, alt: boat.name, class: 'boat-image' %>
          <div class="boat-info">
            <h2 class="boat-name"><%= boat.name %></h2>
            <p class="boat-type"><%= boat.boat_type %></p>
            <p class="boat-details"><%= boat.details %></p>
            <p class="boat-address"><%= boat.address %></p>
            <div class="price-section">
              <p class="boat-price">£<%= boat.price %>/hour</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
