<div class="dashboard-container">
  <h1>Welcome <%= current_user.first_name %></h1>
  <h2 id="dashboard-title">Your Upcoming Trips</h2>
  <div class="boats-container" id="margin-top">
    <% if @user.bookings.empty? %>
      <div class="add-boat" id="lol">
        <h3 id="grey">You have no upcoming trips</h3>
      </div>
        <%= link_to "Book Now", boats_path, class: 'btn-primary book-btn', id:"boat-add" %>
    <% else %>
      <% current_user.bookings.each_with_index do |booking, index| %>
        <%= link_to boat_path(booking.boat), class: 'boat-card-link' do %>
          <div class="boat-card">
              <div id="carouselExampleControls-<%= index %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
              <div class="carousel-item active">
              <%= cl_image_tag booking.boat.photos.first.key, alt: booking.boat.name, class: 'boat-image', height: 250, width: 400, crop: :fill %>
              </div>
              <% booking.boat.photos[1..booking.boat.photos.size].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, alt: booking.boat.name, class: 'boat-image', height: 250, width: 400, crop: :fill %>
              </div>
                    <% end %>
              </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
            </div>
              <div class="boat-info">
              <div class="inline"><h2 class="boat-name"><%= booking.boat.name %></h2><%= link_to "❌", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "cancel"%></div>
              <p class="boat-type">From: <%= booking.booking_date.to_fs(:long)  %></p>
              <p class="boat-details">Until: <%= booking.enddate.to_fs(:long) %></p>
              <p class="boat-address"><%= booking.boat.address %></p>
              <div class="price-section">
                <p class="boat-price">£<%= booking.boat.price %>0/hour</p>
                <a href="mailto:<%= booking.boat.user.email %>"><i class="fas fa-envelope"></i></a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

 <div class="add-boat">
   <h2>Your Boats</h2>
    <%= link_to "Add Boat", new_boat_path, id:"boat-add-dashboard", class: "book-btn"%>
  </div>
    <div class="boats-container">
      <% current_user.boats.each_with_index do |boat, index| %>
        <%= link_to boat_path(boat), class: 'boat-card-link' do %>
          <div class="boat boat-card" id="bookings-card">
              <div id="carouselExampleControls-<%= index %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
              <div class="carousel-item active">
              <%= cl_image_tag boat.photos.first.key, alt: boat.name, class: 'boat-image', height: 250, width: 400, crop: :fill %>
              </div>
              <% boat.photos[1..boat.photos.size].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, alt: boat.name, class: 'boat-image', height: 250, width: 400, crop: :fill %>
              </div>
                    <% end %>
              </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
            </div>
              <div>
                <%= month_calendar(events: boat.bookings) do |date, books| %>
                  <%= date.day %>

                <% end %>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
