<div id="rA34jK">
  <header id="eF65zH">
    <h1>Welcome, <%= current_user.first_name %>!</h1>
    <h2>Your Upcoming Trips</h2>
  </header>

  <div id="zX09wQ">
    <% if current_user.bookings.empty? %>
      <div id="yT87gE">
        <h3>You have no upcoming trips</h3>
        <%= link_to "Book Now", boats_path, id: "iU65rD" %>
      </div>
    <% else %>
      <% current_user.bookings.each_with_index do |booking, index| %>
        <%= link_to boat_path(booking.boat), id: "vB53#{index}" do %>
          <div id="pL23fG">
            <%= cl_image_tag booking.boat.photo.key, alt: booking.boat.name, id: "oW98yN" %>
            <div id="qN45lP">
              <h2 id="aR34kM"><%= booking.boat.name %></h2>
              <p id="mE21zZ"><%= booking.boat.boat_type %></p>
              <p id="nO09xC"><%= booking.booking_date %> to <%= booking.enddate %></p>
              <p id="sS67vF"><%= booking.boat.address %></p>
              <div id="dF65tG">
                <p id="cG54hJ">£<%= booking.boat.price %>/hour</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


 <div class="add-boat">
   <h2>Your Boats</h2>
    <%= link_to "Add Boat", new_boat_path, id:"boat-add" %>
  </div>
    <div class="boats-container">
      <% current_user.boats.each do |boat| %>
        <%= link_to boat_path(boat), class: 'boat-card-link' do %>
          <div class="boat boat-card">
            <%= cl_image_tag boat.photo.key, alt: boat.name, class: 'boat-image'%>
            <div class="boat-info">
              <div class="boat-name-section">
                <h2 class="boat-name"><%= boat.name %></h2>
               <%= link_to boat_path(boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this boat?" }, class: 'delete-boat-link' do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
              <p class="boat-type"><%= boat.boat_type %></p>
              <p class="boat-details"><%= boat.details %></p>
              <p class="boat-address"><%= boat.address %></p>
              <div class="price-section">
                <p class="boat-price">£<%= boat.price %>/hour</p>
                <%= link_to 'Edit Now >', edit_boat_path(boat), class: 'book-btn btn-common' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
