<h1>Welcome <%= current_user.first_name %></h1>
<h2>Your bookings</h2>
<div class="boats-container">
    <% current_user.bookings.each do |booking| %>
      <div class="boat-card">
        <%= image_tag booking.boat.image_url, width: 200 %>
        <ul>
          <li><p>Date: <%= booking.booking_date %></p></li>
          <li><p>Address: <%= booking.boat.address %></p></li>
          <li><p>Owner: <%= booking.boat.user.first_name %></p></li>
          <li><%= link_to "View Boat", boat_path(booking.boat), class: "btn btn-primary" %></li>
        </ul>
      </div>
    <% end %>
</div>

  <h2>Your boats</h2>
  <div class="boats-container">
    <% current_user.boats.each do |boat| %>
      <div class="boat-card">
        <%= image_tag boat.image_url, alt: boat.name %>
        <h2><%= boat.name %></h2>
        <p><%= boat.details %></p>
        <p>Address: <%= boat.address %></p>
        <p>Price: <%= boat.price %> £/hour</p>
        <%= link_to 'View Details', boat_path(boat), class: 'btn btn-primary my-1 py-1' %>
        <%= link_to 'Edit Boat', edit_boat_path(boat), class: 'btn btn-primary my-1 py-1' %>
        <%= link_to 'Delete Boat', boat_path(boat), class: 'btn btn-primary my-1 py-1' %>
      </div>
    <% end %>
  <%= link_to "Add Boat", new_boat_path, class: "btn btn-primary" %>
</div>
