<div class="container">
  <div class="inline">
    <h1>Edit your boat</h1>
    <%= link_to "Delete", boat_path(@boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "cancel"%>
  </div>
  <%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address,
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>  <%= f.input :price %>
  <%= f.input :details, as: :check_boxes, collection: @details %>
  <%= f.input :boat_type, :collection => @boat_types %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Save changes" %>
<% end %>
</div>
