<div class="blue-bar">
  <h1 class="boats-title">Boats for Rent</h1>
  <form action="/boats" id="search-filters" class="col-6">
    <select name="boat_type" method="GET" class="box">
      <option value="none">Boat Type</option>
      <% @boat_types.each do |type| %>
        <option value="<%= type %>"><%= type %></option>
      <% end %>
    </select>
    <select name="max_price" class="box">
      <option value="none">Max Price</option>
      <% [1000, 800, 600, 400, 200, 100, 50, 10].each do |price| %>
        <option value="<%= price %>"><%= "£#{price}" %></option>
      <% end %>
    </select>
    <input type="submit" value="Apply Filters" class="box">
  </form>
</div>

<div class="boats-section">
  <div class="boats-container">
    <% @select.reverse.each_with_index do |boat, index| %>
      <div class="boat-card-wrapper">
        <%= link_to boat_path(boat), class: 'boat-card-link' do %>
          <div class="boat boat-card">

           <div id="carouselExampleControls-<%= index %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
              <div class="carousel-item active">
              <%= cl_image_tag boat.photos.first.key, alt: boat.name, class: 'boat-image', height: 300, width: 400, crop: :fill %>
              </div>
            <% boat.photos[1..boat.photos.size].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, alt: boat.name, class: 'boat-image', height: 300, width: 400, crop: :fill %>
              </div>
                    <% end %>
            </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
          </div>
            <div class="boat-info">
              <h2 class="boat-name"><%= boat.name %></h2>
              <p class="boat-type"><%= boat.boat_type %></p>
              <p class="boat-address"><%= boat.address %></p>
              <div class="price-section">
                <p class="boat-price">£<%= boat.price %>/hour</p>
                <% if current_user %>
                  <%= link_to 'Book Now >', new_boat_booking_path(boat_id: boat.id), class: 'book-btn btn-common' %>
                  <%else%>
                  <%= link_to 'Book Now >', new_user_session_path, class: 'book-btn btn-common' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
