<div class="container">
  <h1>Add new boat</h1>
  <%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.submit "Add boat" %>
<% end %>
</div>
